<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
        <!-- <script src='../static/file-upload-progress-bar.js'></script> -->



    </head>
    <body>
        <div>
            <div class='center'>
                <div class='title'>DEMO YOUR ML MODEL</div>
                <div class='content'>
                    <div class='no-display'>
                        <input id='file-input'
                            class='no-display'
                            type='file'
                            name='file'
                            accept='image/*'
                            onchange='showPicked(this)'>
                    </div>
                    <button class='choose-file-button' type='button' onclick='showPicker()'> Select Image </button>
                    <div class='upload-label'>
                        <label id='upload-label'>No file chosen</label>
                    </div>
                    <div>
                        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                    </div>
                    <div class='analyze'>
                        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
                    </div>
                    <div class='classify'>
                        <button id='classify-button' class='classify-button' type='button' onclick='classifying()'>classify</button>
                    </div>
                    <div class='result-label'>
                        <label id='result-label'></label><br /><br />
                        <label id='akiec-label'></label><br /><br />
						            <label id='bcc-label'></label><br /><br />
                        <label id='bkl-label'></label><br /><br />
                        <label id='df-label'></label><br /><br />
                        <label id='mel-label'></label><br /><br />
                        <label id='nv-label'></label><br /><br />
                        <label id='vasc-label'></label><br /><br />
                    </div>

                    </div>
                </div>
            </div>
        </div>





    </body>
</html>
<!-- classes = ['akiec', 'bcc', 'bkl', 'df', 'mel', 'nv', 'vasc'] -->
